* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
}

.Todo {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #6e9cfff1;
}

.Todo__list {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;

  text-align: left;
}

.Todo__Item-checked {
  text-decoration: line-through;
  color: #c3c3c3;
}

.Todo__new-item-text {
  padding: 5px 10px 5px;
}

.btn {
  font-size: 0.8em;
  margin: 5px 2px 3px 7px;
  padding: 7px 12px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #a12358;
}

.Todo__active-button {
  background-color: #23a157;
}

.Todo__all-button {
  background-color: #c7590f;
}

.Todo__completed-button {
  background-color: #a12b23;
}

.Todo__clean-button {
  background-color: #241f1f8f;
}

.Todo__archive-button {
  background-color: rgb(110, 9, 241);
}

.Todo__add-button {
  background-color: rgb(46, 48, 209);
}

p {
  margin-top: 20px;
}

/*checkbox*/
.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: "";
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: rebeccapurple;
  color: #fff;
}

.checkbox-custom:focus + .checkbox-custom-label {
  outline: 1px solid #ddd; /* focus style */
}
